﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Gym</h1> 
   
    <p>
        We are the un-corporation; owned and operated by a Master Personal Trainer with over 25 years experience in the health and fitness industry. Our mission is to provide you with all the tools you need to reach your fitness goals in a clean, vibrant, engaging environment you will be proud to call your GYM. We won’t hold you hostage like other fitness clubs, you’ll want to stay because we care!
    </p>

</div>
