﻿@model IEnumerable<AltairGym.Models.Lesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lessons</h1>
<!--Asi es como lo verian los monitores, teniendo la oportunidad de editar y eliminar las diferentes cosas-->
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="VistaReal">Real View</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activities.Description)
                </td>
                <td>
                    @if (item.Bookings.Count == 0 || item.Bookings==null)
                    {
                        <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a>

                    }

                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a>
                    @if (item.Bookings.Count == 0 || item.Bookings == null)
                    {
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>

                    }


                </td>
            </tr>
        }
    </tbody>
</table>
