﻿@model IEnumerable<AltairGym.Models.Lesson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lessons for Customers</h1>
<!--Yo espero no haberme equivocado haciendolo de esta manera, he supuesto que era asi como usted lo queria-->
<!--Aqui es para mostrar este apartado
     Los clientes podrán listar las clases disponibles en el sistema, es decir, todas
    aquellas que la fecha igual o posterior a la fecha del sistema, y, además, no se haya
    completado el aforo.
    -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activities.Description)
                </td>
                <td>
                       <!--He dejado el boton details porque he pensado que un cliente podría ver los detalles de la clase-->
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
